/*Estilos da página index.html*/
.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.wh {
    width: 480px;
    height: 300px;
}

.tm-social{
    width: 50px;
    height: 50px;
}

.mb-50{
    margin-bottom: 50px;
}